:root {
  --title-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --base-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --soc-lk-cr: #afb1b8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  position: relative;

  color: var(--title-text-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--base-bg-color);
  color: var(--title-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-section {
  display: flex;
  align-items: center;
}

.site-nav,
.contacts {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  margin-left: 93px;
}

.site-nav > .item:not(:first-child) {
  margin-left: 50px;
}

.contacts {
  margin-left: auto;
}
.contacts .link {
  color: var(--text-color);
}

.contacts > .item:not(:first-child) {
  margin-left: 50px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.piece-logo {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus,
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.active-link {
  color: var(--accent-color);
}

.active-link::after {
  content: '';

  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.address-link {
  display: flex;
  align-items: center;
}

.envelope-icon,
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero-section {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.hero-title {
  color: var(--base-bg-color);
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--base-bg-color);
  background-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  margin-bottom: 12px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--base-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  outline: none;
  background: var(--base-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--text-color);
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field:last-of-type {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover,
.form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--title-text-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--base-bg-color) inset;
}

.form-coment {
  padding: 12px 16px;
}

.form-input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-icon-svg {
  position: absolute;
  left: 12px;
  bottom: 11px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within > .form-icon-svg,
.form-label:hover > .form-icon-svg {
  fill: var(--accent-color);
}

.form-coment {
  resize: none;
  height: 120px;
}

.checkbox-label {
  display: flex;
  align-items: center;

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.checkbox-label-text {
  margin-left: 8px;
  margin-right: 6px;

  color: var(--text-color);
}

.checkbox-icon {
  display: inline-block;

  width: 16px;
  height: 15px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox:focus-within + .checkbox-icon {
  border-color: var(--accent-color);
}

.checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-submit-button {
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.features-section {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.features-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  color: var(--text-color);
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: var(--section-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon {
  background: var(--section-bg-color);
  border-radius: 4px;
}

.section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.speciality-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.speciality-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.speciality-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--base-bg-color);
}

.speciality-thumb {
  position: relative;
}

.speciality-lable {
  position: absolute;
  min-height: 70px;
  width: 100%;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: var(--section-bg-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.staff-card {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;

  background-color: var(--base-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-color: transparent;
}

.staff-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.staff-proffesion {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.staff-description {
  padding: 30px 32px;
}

.social-icons {
  display: inline-flex;
}

.social-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--base-bg-color);
  color: var(--soc-lk-cr);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons-svg {
  fill: currentColor;
}

.social-icons-link:hover,
.social-icons-link:focus {
  color: var(--base-bg-color);
  background-color: var(--accent-color);
}

.social-icons-item:not(:first-child) {
  margin-left: 10px;
}

.customer-list {
  display: inline-flex;
}

.customer-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  background-color: var(--base-bg-color);
  border: 1px solid var(--soc-lk-cr);
  color: var(--soc-lk-cr);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icons-item:not(:first-child) {
  margin-left: 30px;
}

.customer-icon-svg {
  fill: currentColor;
}

.customer-icons-link:hover,
.customer-icons-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

footer {
  background-color: var(--secondary-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--base-bg-color);
  margin-bottom: 20px;
  display: inline-block;
}

.post-address {
  margin-bottom: 9px;
  color: var(--base-bg-color);
  font-style: normal;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.contacts-footer > .mail {
  margin-bottom: 9px;
}

.join-us {
  margin-left: 70px;
}

.join-us-text {
  display: block;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--base-bg-color);
  margin-bottom: 20px;
}

.join-icons {
  display: inline-flex;
}

.join-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--base-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icons-svg {
  fill: currentColor;
}

.join-icons-link:hover,
.join-icons-link:focus {
  background-color: var(--accent-color);
}

.join-icons-item:not(:first-child) {
  margin-left: 10px;
}

.subs {
  margin-left: auto;
}

.foter-form-field {
  font-size: 16px;
  line-height: 1.25;

  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;

  color: var(--base-bg-color);
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.foter-form-field::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.foter-form-field:-webkit-autofill,
.foter-form-field:-webkit-autofill:hover,
.foter-form-field:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--base-bg-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-bg-color) inset;
}

.submit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
}

.submit-icons-svg {
  margin-left: 10px;
  fill: currentColor;
}

/* Portfolio */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  background-color: #f5f4fa;
  padding: 8px 22px;
  margin-left: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--base-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
}

.project-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-type {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  min-height: 404px;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.caption {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  pointer-events: none;

  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;

  color: var(--base-bg-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0%);
}
